body {
  width: 100vw;
  height: 100vh;
  background: #ffffff url('../images/bg.jpg') no-repeat center center fixed;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}
