.gamearea {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5em;
  margin: 0 auto;
  padding-top: 30px;
}
.gamearea > ul {
  list-style-type: none;
  vertical-align: middle;
}

.gamearea > li {
  display: inline;
}

.card {
  margin: 2px;
  cursor: pointer;
}

.card > img {
  width: 10em;
  height: auto;
  transition: transform 0.4s;
}
.card > img:hover {
  width: 11em;
  transform: scale(1.25);
  position: absolute;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}
